efficientdet_lite0.tflite
__pycache__/*
TMP/*
docker/README.md
producer.py
connect_plugin/*conn*/
random-notes
07_teaddybear-telegram-sink.json
06_teaddybear-telegram-sink.json
movie/*
teddy.mov
cat.mov
